/* Variables */
:root {
  --principal_color: rgba(87, 46, 229, 1);
  --secundary_color: rgba(80, 227, 194, 1);
  --principal_font: "Montserrat", sans-serif;
  --secundary_font: "Roboto", sans-serif;
}

/* Header */
.header-sticky {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
}
.logo {
  content: url("../images/logo-desktop.svg");
}
/* Header__Nav */
.header__nav-bar {
  height: 100%;
}
.header__checkbox {
  display: none;
}
.header__burger-icon {
  display: none;
}
.header__elements-container {
  display: flex;
  position: static;
  width: 55%;
  height: 100%;
  align-items: center;
  padding-left: calc(10% - 10px);
}
.header__list-element {
  margin-top: 0;
}
.header__list-link {
  color: var(--principal_color);
  font-weight: bolder;
  font-size: 1.3rem;
  margin-left: 25px;
  width: 54px;
  height: 54px;
  cursor: pointer;
}
.header__list-link--active {
  color: rgba(156, 175, 195, 1);
  font-weight: bolder;
  font-size: 1.3rem;
  margin-left: 25px;
  width: 54px;
  height: 54px;
  cursor: pointer;
}
.header__line-of-list-elements {
  display: none;
}
.header__add-icon {
  display: block;
  width: 54px;
  height: 54px;
  background-image: url("../images/button-crear-gifo.svg");
  background-repeat: no-repeat;
  margin-bottom: 25px;
  margin-left: 40px;
  opacity: 1;
}
.header__add-icon--active {
  display: block;
  width: 54px;
  height: 54px;
  background-image: url("../images/CTA-crear-gifo-active.svg");
  background-repeat: no-repeat;
  margin-bottom: 25px;
  margin-left: 40px;
  opacity: 1;
}

/* Main */

/* Main__Search */
.search-section__title {
  line-height: 1.5;
  font-size: 3.5rem;
  margin: 0px calc(50% - 297px) 50px;
  padding-top: 50px;
}
.search-section__image {
  width: 399px;
  height: 190px;
}

/* Searcher */

.search-section__search {
  width: 551px;
  height: 50px;
}
.search-section__icon-search {
  position: absolute;
  left: calc(50% + 220px);
}
.search-section__finder {
  left: calc(50% - 225px);
}

.search-section__trending-title {
  margin-top: 75px;
  font-size: 1.8rem;
}
.search-section__trending-paragraph {
  font-size: 1.6rem;
}

/* Searcher Sticky */
.search-section__search--sticky {
  position: absolute;
  left: calc(10% - 15px);
  top: calc(50% - 25px);
  width: 551px;
  height: 50px;
  display: flex;
  border-radius: 25px;
  border: 1px solid var(--day_mode);
  align-items: center;
}

/* Main__Trending */

.trending {
  max-height: 640px;
}
.trending__title {
  font-size: 2.5rem;
}
.trending__paragraph {
  display: inline-block;
  position: relative;
  left: calc(50% - 130px);
  padding-bottom: 15px;
}
.trending__container {
  align-items: center;
  justify-content: center;
  height: 350px;
}
.trending__arrow {
  width: 40px;
  height: 40px;
}
.trending__arrow--left {
  margin-right: 10px;
  background-image: url("../images/button-slider-left.svg");
}
.trending__arrow--right {
  margin-left: 10px;
  background-image: url("../images/Button-Slider-right.svg");
}
.trending__gifos {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Gifo Trending */

.trending__gifo {
  width: 25%;
  height: 25%;
  min-width: 260px;
  max-width: 357px;
  min-height: 200px;
  max-height: 275px;
}

/* Footer */

footer {
  flex-direction: row;
  height: 116px;
}
.footer__desktop-divisor {
  width: 35%;
  display: flex;
  align-items: center;
}
.footer__paragraph {
  padding-top: 0;
  font-size: 1.3rem;
  margin-left: 150px;
}
.footer__icons-container {
  padding-bottom: 40px;
}
.footer__rights {
  position: absolute;
  right: 150px;
}
.footer__facebook:hover {
  background-image: url("../images/icon_facebook_hover.svg");
}
.footer__instagram:hover {
  background-image: url("../images/icon_instagram-hover.svg");
}
.footer__twitter:hover {
  background-image: url("../images/icon-twitter-hover.svg");
}

/* Pseudo-Classes */
.trending__gifo:hover .gifo__hover-container {
  position: absolute;
  background-color: rgba(87, 46, 229, 1);
  opacity: 0.6;
}
.gifo-container:hover .gifo__hover-container {
  position: absolute;
  background-color: rgba(87, 46, 229, 1);
  opacity: 0.6;
}
.header__add-icon:hover {
  background-image: url("../images/CTA-crear-gifo-hover.svg");
}
.header__add-icon:active {
  background-image: url("../images/CTA-crear-gifo-active.svg");
}
.search-section__finder:focus {
  outline: none;
}
.search-section__finder:active {
  outline: none;
}
.trending__arrow--left:hover {
  background-image: url("../images/button-slider-left-hover.svg");
}
.trending__gifo:hover .gifo__icons {
  display: flex;
}
.trending__gifo:hover .gifo__title {
  display: block;
  color: white;
}
.trending__gifo:hover .gifo__user {
  display: block;
  color: white;
}
.gifo-container:hover .gifo__icons {
  display: flex;
}
.gifo-container:hover .gifo__title {
  display: block;
  color: white;
}
.gifo-container:hover .gifo__user {
  display: block;
  color: white;
}
.trending__arrow--right:hover {
  background-image: url("../images/Button-Slider-right-hover.svg");
}
.arrow__left--expand:hover {
  background-image: url("../images/button-slider-left-hover.svg");
}
.gifo__icon-fav:hover {
  background-image: url("../images/icon-fav-hover.svg");
}
.gifo__icon-trash:hover {
  background-image: url("../images/icon-trash-hover.svg");
}
.gifo__icon-fav:active {
  background-image: url("../images/icon-fav-active.svg");
}
.gifo__icon-download:hover {
  background-image: url("../images/icon-download-hover.svg");
}
.gifo__icon-max:hover {
  background-image: url("../images/icon-max-hover.svg");
}
.gifo__icon-max--expand:hover {
  background-image: url("../images/icon-max-hover.svg");
}
.arrow__right--expand:hover {
  background-image: url("../images/Button-Slider-right-hover.svg");
}
.dark
  header
  .header__nav-bar
  .header__elements-container
  .header__add-icon:hover {
  background-image: url("../images/CTA-crear-gifo-hover-modo-noc.svg");
}
.dark main .trending .trending__container .trending__arrow--left:hover {
  background-image: url("../images/button-slider-left-md-noct-hover.png");
}
.dark main .trending .trending__container .trending__arrow--right:hover {
  background-image: url("../images/button-slider-right-md-noct-hover.png");
}
.dark main .create-gifo .create-gifo___button:hover {
  background-color: white;
  color: rgba(55, 56, 60, 1);
}
.create-gifo___button:hover {
  background-color: var(--principal_color);
  color: white;
}

/* Searcher Active */

.search-section__search--active {
  width: 551px;
}
.search-section__icon-search--active {
  right: 510px;
}

/* Find Element */

.find {
  display: flex;
  flex-direction: column;
}
.find__line {
  width: 30%;
}
.find__title {
  padding-top: 5%;
}
.gifos {
  width: 100%;
  align-self: center;
  padding-top: 5%;
  gap: 30px;
}
.gifo-container {
  width: 260px;
  height: 200px;
}
.find__see-more {
  margin: 5% auto;
  padding: 15px 35px;
  border-radius: 35px;
}

/* Dark Mode */
.dark .header-sticky {
  background-color: rgba(55, 56, 60, 1);
}
.dark header .header__container .logo {
  content: url("../images/Logo-modo-noc.svg");
}
.dark header .header__nav-bar .header__elements-container .header__list-link {
  color: white;
}
.dark
  header
  .header__nav-bar
  .header__elements-container
  .header__add-icon--active {
  background-color: inherit;
}
.dark header .header__nav-bar .header__elements-container .header__add-icon {
  background-image: url("../images/CTA-crear-gifo-modo-noc.svg");
  background-color: inherit;
  opacity: 1;
}
.dark main .trending .trending__container .trending__arrow--left {
  background-image: url("../images/button-slider-left-md-noct.svg");
}
.dark main .trending .trending__container .trending__arrow--right {
  background-image: url("../images/button-slider-right-md-noct.svg");
}
.dark header nav .search-section__search--sticky {
  border-color: white;
}
.dark
  header
  nav
  .search-section__search--sticky
  .search
  .search-section__finder {
  background-color: rgba(55, 56, 60, 1);
  color: white;
}
.dark
  header
  nav
  .search-section__search--sticky
  .search
  .search-section__icon-search {
  background-image: url(../images/icon-search-mod-noc.svg);
}
.dark main .create-gifo .create-gifo__container {
  border-color: white;
}
.dark main .create-gifo .create-gifo__container .create-gifo__title {
  color: white;
}
.dark main .create-gifo .create-gifo__container .create-gifo__paragraph {
  color: white;
}
.dark main .create-gifo .steps .steps__step {
  border-color: white;
  color: white;
}
.dark main .create-gifo .steps .steps__step--active {
  background-color: white;
  color: rgba(55, 56, 60, 1);
  border-color: white;
}
.dark main .create-gifo .line-break {
  background-color: white;
}
.dark main .create-gifo .create-gifo___camera {
  background-image: url("../images/camara-modo-noc.svg");
}
.dark main .create-gifo .create-gifo___roll {
  background-image: url("../images/pelicula-modo-noc.svg");
}
.dark main .create-gifo .create-gifo___button {
  background-color: rgba(55, 56, 60, 1);
  color: white;
  border-color: white;
}
.dark main .create-gifo .create-gifo__timer {
  color: white;
}
.dark main .create-gifo .create-gifo__repeat {
  color: white;
}
/* Gifo */
.gifo__hover-container {
  width: 100%;
  height: 100%;
}
.gifo__user {
  display: none;
  position: absolute;
  bottom: calc(10% + 40px);
  left: calc(10% - 20px);
  font-family: var(--secundary_font);
  font-weight: 500;
  font-size: 1.5rem;
}
.gifo__title {
  font-family: var(--secundary_font);
  font-weight: bold;
  font-size: 1.6rem;
  display: none;
  position: absolute;
  bottom: calc(5% + 5px);
  left: calc(10% - 20px);
}

/* Gifo__Icons */

.gifo__icons {
  position: absolute;
  top: 0px;
  right: 0px;
  width: calc(50% - 5px);
  height: 55px;
  align-items: center;
  justify-items: flex-end;
}
.gifo__icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-repeat: no-repeat;
}
.gifo__icon-fav {
  background-image: url("../images/icon-fav.svg");
}
.gifo__icon-download {
  background-image: url("../images/icon-download.svg");
}
.gifo__icon-max {
  display: block;
  background-image: url("../images/icon-max-normal.svg");
}

/* Gifo--Expand */
.header__burger-icon--gifo-extended {
  position: absolute;
  top: 65px;
  right: calc(50% - 450px);
  display: block;
  background-image: url("../images/close.svg");
}

.gifo--expand {
  background-color: white;
  height: 100vh;
}
.arrow {
  display: block;
  position: absolute;
  top: 325px;
  width: 43px;
  height: 43px;
  background-repeat: no-repeat;
}
.arrow__left--expand {
  left: calc(50% - 500px);
  background-image: url("../images/button-slider-left.svg");
}
.gifo--expand__gifo {
  width: 695px;
  height: 385px;
  margin-top: calc(10% - 15px);
}

/* Gifo__Icons--Expand */

.gifo__icons--expand {
  top: 555px;
  right: calc(50% - 375px);
}
.gifo__icon-max--expand {
  background-image: url("../images/icon-max-normal.svg");
}

.gifo__user--expand {
  top: 555px;
  left: calc(50% - 352px);
}
.gifo__title--expand {
  top: 585px;
  left: calc(50% - 352px);
}
.arrow__right--expand {
  right: calc(50% - 500px);
  background-image: url("../images/Button-Slider-right.svg");
}
.header__burger-icon--gifo-expand {
  display: block;
  position: absolute;
  top: calc(10% - 15px);
  right: calc(10% - 15px);
}

/* Favorites & My Gifos*/
.favorites-my-gifos_paragraph {
  margin: 0 20%;
}

/* Create GIFOS */
.create-gifo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-gifo__container {
  position: relative;
  width: 688px;
  height: 390px;
  border: 1px solid var(--principal_color);
}
.create-gifo__title {
  text-align: center;
  font-size: 2.5rem;
  line-height: 35px;
  padding: calc(25% - 30px) 25% 10px 25%;
}
.create-gifo__title--secondary {
  color: var(--secundary_color);
  padding: 0;
}
.create-gifo__paragraph {
  font-family: var(--secundary_font);
  font-size: 1.6rem;
  color: #000000;
  text-align: center;
  line-height: 29px;
}
.create-gifo__line {
  position: absolute;
  display: inline-block;
  width: 27px;
  height: 25px;
}
.create-gifo__line--top-left {
  top: 20px;
  left: 20px;
  border-top: 1px solid var(--secundary_color);
  border-left: 1px solid var(--secundary_color);
}
.create-gifo__line--top-right {
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--secundary_color);
  border-right: 1px solid var(--secundary_color);
}
.create-gifo__line--bottom-left {
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--secundary_color);
  border-left: 1px solid var(--secundary_color);
}
.create-gifo__line--bottom-right {
  bottom: 20px;
  right: 20px;
  border-bottom: 1px solid var(--secundary_color);
  border-right: 1px solid var(--secundary_color);
}
.steps {
  display: flex;
  height: 75px;
  width: 150px;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.steps__step {
  display: flex;
  width: 32px;
  height: 32px;
  font-size: 1.8rem;
  border: 1px solid var(--principal_color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.steps__step--active {
  display: flex;
  width: 32px;
  height: 32px;
  font-size: 1.8rem;
  border: 1px solid var(--principal_color);
  background-color: var(--principal_color);
  color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.line-break {
  display: block;
  width: 822px;
  height: 6.9px;
  background-color: var(--principal_color);
  border-radius: 3.45px;
  margin-bottom: 20px;
}
.create-gifo___button {
  display: flex;
  height: 50px;
  width: 127px;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--principal_color);
  background-color: white;
  border: 1px solid var(--principal_color);
  border-radius: 25px;
  font-weight: bold;
}
.create-gifo___camera {
  position: absolute;
  top: 105px;
  left: calc(5% - 25px);
  display: inline-block;
  width: 123px;
  height: 162px;
  background-image: url(../images/camara.svg);
  background-repeat: no-repeat;
}
.create-gifo___camera-light {
  position: absolute;
  top: 124px;
  left: calc(5% + 99px);
  display: inline-block;
  width: 91px;
  height: 151px;
  background-image: url(../images/element-luz-camara.svg);
  background-repeat: no-repeat;
}
.create-gifo___roll {
  position: absolute;
  bottom: 75px;
  right: calc(5% - 5px);
  display: inline-block;
  width: 142px;
  height: 88px;
  background-image: url(../images/pelicula.svg);
  background-repeat: no-repeat;
}
.create-gifo__video-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.player {
  display: flex;
  width: 480px;
  height: 320px;
}
.create-gifo__timer {
  position: absolute;
  bottom: 95px;
  right: calc(25% + 36px);
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0;
  line-height: 22px;
}
.create-gifo__repeat {
  display: inline;
  position: absolute;
  bottom: 100px;
  right: calc(25% + 36px);
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 3px solid var(--secundary_color);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
