:root{
--principal_color: rgba(87,46,229,1);
--secundary_color: rgba(80,227,194,1);
--principal_font: 'Montserrat', sans-serif;
--secundary_font: 'Roboto', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: var(--principal_font);
    color: var(--principal_color);
}
.header__checkbox{
    display: none;
}
.header__burger-icon{
    display: none;
}
.header__elements-container{
    display: flex;
    position: static;
    width: 55%;
    height: 100%;
    align-items: center;
}
.header__nav-bar{
    height: 100%;
}
.header__list-element{
    margin-top: 0;
}
.header__line-of-list-elements{
    display: none;
}
.header__list-link{
    color: var(--principal_color);
    font-weight: bolder;
    font-size: 1.3rem;
}
.header__add-icon{
    display: block;
    width: 54px;
    height: 54px;
    background-image: url('../images/button-crear-gifo.svg');
    background-repeat: no-repeat;
    margin-bottom: 25px;
    margin-left: 40px;
}
.header__add-icon:hover{
    background-image: url('../images/CTA-crear-gifo-hover.svg');
}
.header__add-icon:active{
    background-image: url('../images/CTA-crear-gifo-active.svg');
}
.header__list-link--desktop{
    display: block;
    margin: 0px;
}
.header__list-link{
    margin-left: 25px;
    width: 54px;
    height: 54px;
}
.search-section__title{
    line-height: 1.5;
    font-size: 3.5rem;
    margin: 50px calc(50% - 297px);
}
.search-section__image{
    width: 399px;
    height: 190px;
}
.search-section__search{
    width: 551px;
    height: 50px;
}
.search-section__icon-search{
    position: absolute;
    left: calc(50% + 220px)
}
.search-section__finder{
    left: calc(50% - 225px);
}
.search-section__finder:focus{
    outline: none;
}
.search-section__finder:active{
    outline: none;
}
.search-section__trending-title{
    margin-top: 75px;
}
.search-section__trending-title{
    font-size: 1.8rem;
}
.search-section__trending-paragraph{
    font-size: 1.6rem;
}
.trending{
    max-height: 640px;
}
.trending__title{
    font-size: 2.5rem;
}
.trending__paragraph{
    display: inline-block;
    position: relative;
    left: calc(50% - 130px);
    padding-bottom: 15px;
}
.trending__container{
    position: relative;
    align-items: baseline;
    justify-content: center;
    height: 350px;
}
.trending__arrow{
    position: absolute;
    width: 40px;
    height: 40px;
}
.trending__arrow--right{
    top: calc(25% - 15px);
    left: calc(95% - 15px);
    background-image: url('../images/Button-Slider-right.svg')
}
.trending__arrow--right:hover{
    background-image: url('../images/Button-Slider-right-hover.svg');
}
.trending__arrow--left{
    top: calc(25% - 15px);
    right: calc(95% - 15px);
    background-image: url('../images/button-slider-left.svg');
}
.trending__arrow--left:hover{
    background-image: url('../images/button-slider-left-hover.svg');
}
.gifo{
    width: 25%;
    height: 25%;
    min-width: 260px;
    max-width: 357px;
    min-height: 200px;
    max-height: 275px;
}
.gifo:hover{
    background-color: rgba(87,46,229,1);
    opacity: 0.8;
}
.gifo:hover .gifo__icons{
    display: flex;
}
.gifo__icons{
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: calc(50% - 20px);
    height: 55px;
    align-items: center;
    justify-items: flex-end;
}
.gifo__icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-repeat: no-repeat;
}

.gifo__icon--fav{
    background-image: url('../images/icon-fav.svg');
}
.gifo__icon--fav:hover{
    background-image: url('../images/icon-fav-hover.svg');
}
.gifo__icon--fav:active{
    background-image: url('../images/icon-fav-active.svg');
}

.gifo__icon--download{
    background-image: url('../images/icon-download.svg');
}
.gifo__icon--download:hover{
    background-image: url('../images/icon-download-hover.svg');
}


.gifo__icon--expand{
    background-image: url('../images/icon-max-normal.svg');
}
.gifo__icon--expand:hover{
    background-image: url('../images/icon-max-hover.svg');
}


.gifo__user{
    display: none;
    position: absolute;
    bottom: 40px;
    left: 15px;
    font-family: var(--secundary_font);
    font-weight: 500;
    font-size: 1.5rem;
}
.gifo__title{
    font-family: var(--secundary_font);
    font-weight: bold;
    font-size: 1.6rem;
    display: none;
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.gifo:hover .gifo__title{
    display: block;
    color: white;
}

.gifo:hover .gifo__user{
    display: block;
    color: white;
}


footer{
    flex-direction: row;
}
.footer__desktop-divisor{
    width: 35%;
    display: flex;
    align-items: center;
}
.footer__paragraph{
    padding-top: 0;
    font-size: 1.3rem;
    margin-left: 150px;
}
.footer__icons-container {
    padding-bottom: 40px;
}
.footer__rights{
    position: absolute;
    right: 150px;
}
.footer__facebook:hover{
    background-image: url('../images/icon_facebook_hover.svg');
}
.footer__instagram:hover{
    background-image: url('../images/icon_instagram-hover.svg');
}
.footer__twitter:hover{
    background-image: url('../images/icon-twitter-hover.svg');
}