* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #572ee5;
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95px;
  width: 100vw;
  border-top: solid 5px #572ee5;
}

header .header__container {
  width: 20%;
}

header .header__container .logo {
  margin-left: 24px;
}

header .header__nav-bar {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

header .header__nav-bar .header__burger-icon {
  margin-right: 27px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
}

header .header__nav-bar .header__checkbox {
  margin-right: 27px;
  width: 20px;
  height: 20px;
  z-index: 101;
  position: absolute;
  opacity: 0;
}

header .header__nav-bar .header__checkbox:checked + .header__burger-icon {
  background-image: url("../images/close.svg");
}

header .header__nav-bar .header__elements-container {
  list-style: none;
  display: none;
}

header .header__nav-bar .header__elements-container .header__list-element .header__list-link {
  text-decoration: none;
  color: black;
}

header .header__nav-bar .header__checkbox:checked ~ .header__elements-container {
  z-index: 101;
  position: absolute;
  background-color: #572ee5;
  opacity: 0.9;
  top: 95px;
  width: 100%;
  height: 484px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__nav-bar .header__checkbox:checked ~ .header__elements-container .header__line-of-list-elements {
  display: inline-block;
  position: relative;
  top: 14px;
  width: 41px;
  height: 1px;
  background-color: white;
  opacity: 0.5;
}

header .header__nav-bar .header__checkbox:checked ~ .header__elements-container .header__list-element {
  margin-top: 30px;
}

header .header__nav-bar .header__checkbox:checked ~ .header__elements-container .header__list-element .header__list-link {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  font-weight: bold;
}

main .search-section .search-section__title {
  color: #572ee5;
  font-size: 2.5rem;
  line-height: 3.3rem;
  margin: 0 40px;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 31px;
}

main .search-section .search-section__title .search-section__gifos-color {
  color: #50e3c2;
}

main .search-section .search-section__image {
  display: block;
  width: 273px;
  height: 130px;
  margin: 0 auto;
}

main .search-section .search-section__trending-title {
  margin-top: 31px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 2px;
}

main .search-section .search-section__trending-paragraph {
  font-size: 1.4rem;
  text-align: center;
  line-height: 2.5rem;
  margin: 0 70px;
  padding-bottom: 45px;
}

main .search-section .search-section__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 334px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #572ee5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

main .search-section .search-section__search .search-section__icon-search {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/icon-search.svg");
  position: relative;
  left: 294px;
}

main .search-section .search-section__search .search-section__finder {
  display: inline-block;
  width: 215px;
  height: 22px;
  font-size: 1.6rem;
  position: absolute;
  left: calc(50% - 107px);
  border: none;
}

main .trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 430px;
  background-color: #f3f5f8;
}

main .trending .trending__title {
  margin-top: 46px;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

main .trending .trending__paragraph {
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: black;
}

main .trending .trending__paragraph--top {
  margin-bottom: 2px;
  margin-top: 8px;
}

main .trending .trending__container {
  display: block;
  height: 50%;
  background-color: black;
}

main .trending .trending__container .trending__gifo {
  display: block;
  width: 243px;
  height: 187px;
  background-color: red;
}

footer {
  height: 196px;
  border-bottom: 5px solid #572ee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__paragraph {
  font-family: Roboto;
  font-weight: 500;
  text-align: center;
  margin-top: 47px;
  color: black;
}

footer .footer__icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 97px;
  height: 24px;
}

footer .footer__icons-container .footer__icon {
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */