/* Variables */
:root {
  --day_mode: rgba(87, 46, 229, 1);
  --dark_mode: rgba(255, 255, 255, 1);
  --secondary_color: rgba(80, 227, 194, 1);
  --principal_font: "Montserrat", sans-serif;
  --secondary_font: "Roboto", sans-serif;
}

/* General Settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--principal_font);
  color: var(--day_mode);
}

/* Header */
header {
  display: flex;
  align-items: center;
  height: 95px;
  border-top: solid 5px var(--day_mode);
}
/* Header__Logo */
.header__container {
  width: 20%;
}
.logo {
  content: url(../images/logo-mobile.svg);
  margin-left: 24px;
}

/* Header__Nav */
.header__nav-bar {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
}
.header__checkbox {
  margin-right: 27px;
  width: 20px;
  height: 20px;
  z-index: 101;
  position: absolute;
  opacity: 0;
}
.header__burger-icon {
  margin-right: 27px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
}
.header__elements-container {
  list-style: none;
  display: none;
}
.header__list-element {
  margin-top: 30px;
}
.header__list-link {
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  font-weight: bold;
}
.header__line-of-list-elements {
  display: inline-block;
  position: relative;
  top: 14px;
  width: 41px;
  height: 1px;
  background-color: white;
  opacity: 0.5;
}

/* Main */

/* Main__Search */
.search-section__title {
  color: var(--day_mode);
  font-size: 2.5rem;
  line-height: 3.3rem;
  margin: 0 40px;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 31px;
}
.search-section__gifos-color {
  color: var(--secondary_color);
}
.search-section__image {
  display: block;
  width: 273px;
  height: 130px;
  margin: 0 auto;
}

/* Searcher */

.search-section__search {
  display: flex;
  width: 334px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid var(--day_mode);
  align-items: center;
  margin: 0 auto;
}
.search-section__icon-search {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/icon-search.svg");
  position: relative;
  left: 294px;
}
.search-section__finder {
  font-family: var(--secondary_font);
  display: inline-block;
  width: 215px;
  height: 22px;
  font-size: 1.6rem;
  position: absolute;
  left: calc(50% - 107px);
  border: none;
}

.search-section__trending-title {
  margin-top: 31px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 2px;
}
.search-section__trending-paragraph {
  font-size: 1.4rem;
  text-align: center;
  line-height: 2.5rem;
  margin: 0 70px;
  padding-bottom: 45px;
}

/* Main__Trending */

.trending {
  min-height: 430px;
  background-color: rgba(243, 245, 248, 1);
}
.trending__title {
  padding-top: 46px;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}
.trending__paragraph {
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: black;
}
.trending__paragraph--top {
  padding-bottom: 2px;
  padding-top: 8px;
}

.trending__container {
  display: flex;
  align-items: center;
  height: 316px;
}
/* Gifo Trending */
.trending__gifos {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
.trending__gifo {
  position: relative;
  display: inline-block;
  min-width: 260px;
  height: 200px;
  scroll-snap-align: center;
}

/* Footer */

footer {
  height: 196px;
  border-bottom: 5px solid var(--day_mode);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__paragraph {
  font-family: Roboto;
  font-weight: 500;
  text-align: center;
  padding-top: 47px;
  color: black;
}

.footer__icons-container {
  display: flex;
  justify-content: center;
  width: 115px;
  height: 24px;
  padding-top: 22px;
  padding-bottom: 47px;
}
.footer__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.footer__facebook {
  width: 13px;
  background-image: url("../images/icon_facebook.svg");
}
.footer__twitter {
  background-image: url("../images/icon-twitter.svg");
}
.footer__instagram {
  background-image: url("../images/icon_instagram.svg");
}
.footer__rights {
  font-size: 1.4rem;
  letter-spacing: 0;
  color: black;
  font-family: var(--secondary_font);
}

/* Pseudo-Classes */
.header__checkbox:checked + .header__burger-icon {
  background-image: url("../images/close.svg");
}
.header__checkbox:checked ~ .header__elements-container {
  z-index: 101;
  position: absolute;
  background-color: var(--day_mode);
  opacity: 0.9;
  top: 95px;
  width: 100%;
  height: 484px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-section__finder:focus {
  outline: none;
}
.search-section__finder:active {
  outline: none;
}
.gifo__icon--download:hover {
  background-image: url("../images/icon-download-hover.svg");
}
.gifo__icon--fav:hover {
  background-image: url("../images/icon-fav-hover.svg");
}
.gifo__icon--fav:active {
  background-image: url("../images/icon-fav-active.svg");
}

/* Dark mode */
.dark {
  background-color: rgba(55, 56, 60, 1);
}
.dark header .header__container .logo {
  content: url("../images/logo-mobile-modo-noct.svg");
}
.dark header .header__nav-bar .header__burger-icon {
  background-image: url("../images/burger-modo-noct.svg");
}
.dark main .search-section .search-section__title {
  color: var(--dark_mode);
}
.dark main .search-section .search-section__search {
  border-color: var(--dark_mode);
}
.dark main .search-section .search-section__finder {
  background-color: rgba(55, 56, 60, 1);
}
.dark main .search-section .search-section__icon-search {
  background-image: url(../images/icon-search-mod-noc.svg);
}
.dark main .search-section .search-section__trending-title {
  color: var(--dark_mode);
}
.dark main .search-section .search-section__trending-paragraph {
  color: var(--dark_mode);
}

.dark main .trending {
  background-color: rgba(34,35,38,1);
}
.dark main .trending .trending__title {
  color: var(--dark_mode);
}
.dark main .trending .trending__paragraph{
  color: var(--dark_mode);
}

/* Gifo */
.gifo {
  position: absolute;
  width: 100%;
  height: 100%;
}
.gifo__user {
  display: none;
}
.gifo__title {
  display: none;
}
.gifo__icons {
  display: none;
}

/* Gifo Expand */

.header__burger-icon--gifo-extended {
  z-index: 2;
  background-image: url("../images/close.svg");
}

.gifo--expand {
  position: absolute;
  top: 0;
  width: 100%;
  height: 584px;
  background-color: rgba(255, 255, 255, 0.9);
}
.gifo--expand__gifo {
  width: 318px;
  height: 245px;
  background-color: black;
  margin: 0 auto;
  margin-top: 156px;
}

/* Gifo__Icons */

.gifo__icons--expand {
  position: absolute;
  display: flex;
  top: 400px;
  right: 0px;
  height: 55px;
  align-items: center;
  justify-items: flex-end;
  align-items: center;
  margin-inline-end: 8px;
}
.gifo__icon--expand {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-repeat: no-repeat;
}
.gifo__icon--fav {
  background-image: url("../images/icon-fav.svg");
}
.gifo__icon--download {
  background-image: url("../images/icon-download.svg");
}
.gifo__icon--max-expand {
  display: none;
}
.gifo__user--expand {
  position: absolute;
  top: 415px;
  left: 35px;
  font-family: var(--secondary_font);
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 1);
}
.gifo__title--expand {
  position: absolute;
  top: 439px;
  left: 35px;
  font-weight: bold;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 1);
}

/* Body when gifo expand */
.gifo-expand {
  overflow: hidden;
}
